*{
font-family: "Exo 2", serif;
}

/*1*/

.bodybg {
background-image: url(https://i1.beon.fun/75/62/6275/57/1672657/Bez-imeni-1.png);
background-repeat: no-repeat;
background-position: right conner;
background-attachment: fixed;
background-size: cover;
background-color: #000;
}

nav.navbar {
background-attachment: fixed;
background-color: rgba(20, 20, 20, 0.5);
}

.post-content {
background-attachment: fixed;
background-color: rgba(20,20, 20, 0.5);
color: #fff;

}

.comment-content {
background-attachment: fixed;
background-color: rgba(20,20, 20, 0.5);
color: #fff;

}

.left-menu > div {
color: #fff;
}

.left-menu > div > h3 {
background-color: rgba(20, 20, 20, 1) !important;
border: 0%;
font-size: 89%;
border: 1px dashed rgba(255, 255, 255, 0.2) !important;
margin: 7%;
padding: 1%;
}

.datebg {
	background-attachment: fixed;
background-color: rgba(20,20, 20, 0.5);
}

.textareabg {
	background-attachment: fixed;
background-color: rgba(20, 20,20, 0.5);
}

/*2*/

.blog__about:before {
content: '';
display: block;
height:10px;
background-size: cover;
}

.left-menu {
position: absolute !important;
right: 10px;
width: 19%;
max-height: 80vh;
padding: 0px 5% 3% 5%;
overflow-x: scroll;
}

div.left-menu {
border: none;
}

a {
text-decoration: none !important;
color: #959595 !important;
}

a:hover {
text-decoration: none !important;
color: #fff !important;	
}

.bodybg {
img {
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
}

img:hover {
filter: none;
-webkit-filter: grayscale(0);
}
}